       casas  estrato  valor
0  la ximena        1    120
1      pamba        2    200
2     centro        1    235
3  la ximena        5    150
4     la paz        1    160
5    mirador        3    125
6      pamba        2     59
7     la paz        4    168
8     centro        3    352
9    mirador        2    456

In [73]:
df.dtypes

casas      object
estrato    object
valor       int64
dtype: object

In [39]:
df.casas.unique()

array(['la ximena', 'pamba', 'centro', 'la paz', 'mirador'], dtype=object)

In [40]:
df.estrato.unique()

array([1, 2, 5, 3, 4])

In [41]:
df = df.reset_index()

In [42]:
df_casas = df[['index','casas']]
df_casas 
cont = 0
for cl in df_casas.casas.unique():
  df_casas[cl] = cont
  cont = cont +1
df_casas

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

   index      casas  la ximena  pamba  centro  la paz  mirador
0      0  la ximena          0      1       2       3        4
1      1      pamba          0      1       2       3        4
2      2     centro          0      1       2       3        4
3      3  la ximena          0      1       2       3        4
4      4     la paz          0      1       2       3        4
5      5    mirador          0      1       2       3        4
6      6      pamba          0      1       2       3        4
7      7     la paz          0      1       2       3        4
8      8     centro          0      1       2       3        4
9      9    mirador          0      1       2       3        4

In [43]:
lt1 = []
lt2 = []
lt3 = []
lt4 = []
lt5 = []
for i, valor in zip(range(len(df_casas)),df_casas.casas):
  print(i, valor)
  if df_casas.loc[i][valor] == 0:
    lt1.append(1)
    lt2.append(0)
    lt3.append(0)
    lt4.append(0)
    lt5.append(0)
  elif df_casas.loc[i][valor] == 1:
    lt1.append(0)
    lt2.append(1)
    lt3.append(0)
    lt4.append(0)
    lt5.append(0)
  elif df_casas.loc[i][valor] == 2:
    lt1.append(0)
    lt2.append(0)
    lt3.append(1)
    lt4.append(0)
    lt5.append(0)
  elif df_casas.loc[i][valor] == 3:
    lt1.append(0)
    lt2.append(0)
    lt3.append(0)
    lt4.append(1)
    lt5.append(0)
  elif df_casas.loc[i][valor] == 4:
    lt1.append(0)
    lt2.append(0)
    lt3.append(0)
    lt4.append(0)
    lt5.append(1)
  elif df_casas.loc[i][valor] == 5:
    lt1.append(0)
    lt2.append(0)
    lt3.append(0)
    lt4.append(0)
    lt5.append(1)

df_casas['la ximena']=lt1
df_casas['pamba']=lt2
df_casas['centro']=lt3
df_casas['la paz']=lt4
df_casas['mirador']=lt5
df_casas

0 la ximena
1 pamba
2 centro
3 la ximena
4 la paz
5 mirador
6 pamba
7 la paz
8 centro
9 mirador

   index      casas  la ximena  pamba  centro  la paz  mirador
0      0  la ximena          1      0       0       0        0
1      1      pamba          0      1       0       0        0
2      2     centro          0      0       1       0        0
3      3  la ximena          1      0       0       0        0
4      4     la paz          0      0       0       1        0
5      5    mirador          0      0       0       0        1
6      6      pamba          0      1       0       0        0
7      7     la paz          0      0       0       1        0
8      8     centro          0      0       1       0        0
9      9    mirador          0      0       0       0        1

In [44]:
df

   index      casas  estrato  valor
0      0  la ximena        1    120
1      1      pamba        2    200
2      2     centro        1    235
3      3  la ximena        5    150
4      4     la paz        1    160
5      5    mirador        3    125
6      6      pamba        2     59
7      7     la paz        4    168
8      8     centro        3    352
9      9    mirador        2    456

In [45]:
df = df.join(df_casas, lsuffix = 'index', rsuffix = 'index')
df

,indexindex,casasindex,estrato,valor,indexindex,casasindex,la ximena,pamba,centro,la paz,mirador
0,0,la ximena,1,120,0,la ximena,1,0,0,0,0
1,1,pamba,2,200,1,pamba,0,1,0,0,0
2,2,centro,1,235,2,centro,0,0,1,0,0
3,3,la ximena,5,150,3,la ximena,1,0,0,0,0
4,4,la paz,1,160,4,la paz,0,0,0,1,0
5,5,mirador,3,125,5,mirador,0,0,0,0,1
6,6,pamba,2,59,6,pamba,0,1,0,0,0
7,7,la paz,4,168,7,la paz,0,0,0,1,0
8,8,centro,3,352,8,centro,0,0,1,0,0
9,9,mirador,2,456,9,mirador,0,0,0,0,1

In [47]:
df.keys()

Index(['indexindex', 'casasindex', 'estrato', 'valor', 'indexindex',
       'casasindex', 'la ximena', 'pamba', 'centro', 'la paz', 'mirador'],
      dtype='object')

In [48]:
df_cat_casas = df[[ 'estrato', 'valor', 'la ximena', 'pamba', 'centro', 'la paz', 'mirador']]
df_cat_casas

   estrato  valor  la ximena  pamba  centro  la paz  mirador
0        1    120          1      0       0       0        0
1        2    200          0      1       0       0        0
2        1    235          0      0       1       0        0
3        5    150          1      0       0       0        0
4        1    160          0      0       0       1        0
5        3    125          0      0       0       0        1
6        2     59          0      1       0       0        0
7        4    168          0      0       0       1        0
8        3    352          0      0       1       0        0
9        2    456          0      0       0       0        1

In [49]:
df_cat_casas.reset_index()

   index  estrato  valor  la ximena  pamba  centro  la paz  mirador
0      0        1    120          1      0       0       0        0
1      1        2    200          0      1       0       0        0
2      2        1    235          0      0       1       0        0
3      3        5    150          1      0       0       0        0
4      4        1    160          0      0       0       1        0
5      5        3    125          0      0       0       0        1
6      6        2     59          0      1       0       0        0
7      7        4    168          0      0       0       1        0
8      8        3    352          0      0       1       0        0
9      9        2    456          0      0       0       0        1

In [51]:
df1 = df_cat_casas[['valor', 'la ximena', 'pamba', 'centro', 'la paz',
       'mirador']]

In [52]:
df1

   valor  la ximena  pamba  centro  la paz  mirador
0    120          1      0       0       0        0
1    200          0      1       0       0        0
2    235          0      0       1       0        0
3    150          1      0       0       0        0
4    160          0      0       0       1        0
5    125          0      0       0       0        1
6     59          0      1       0       0        0
7    168          0      0       0       1        0
8    352          0      0       1       0        0
9    456          0      0       0       0        1

In [54]:
df1.valor = df1.valor/df1.valor.max()
df1

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:5516: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

      valor  la ximena  pamba  centro  la paz  mirador
0  0.263158          1      0       0       0        0
1  0.438596          0      1       0       0        0
2  0.515351          0      0       1       0        0
3  0.328947          1      0       0       0        0
4  0.350877          0      0       0       1        0
5  0.274123          0      0       0       0        1
6  0.129386          0      1       0       0        0
7  0.368421          0      0       0       1        0
8  0.771930          0      0       1       0        0
9  1.000000          0      0       0       0        1

In [55]:
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import OneHotEncoder
import matplotlib.pyplot as plt

In [61]:
import pandas as pd
import numpy as np

casas = ['la ximena','pamba','centro', 'la ximena', 'la paz','mirador','pamba','la paz','centro','mirador']
estrato = [1,2,1,5,1,3,2,4,3,2]
valor = [120,200,235,150,160,125,59,168,352,456]
df = pd.DataFrame(casas, columns=['casas'])
df['estrato'] = estrato
df['valor'] = valor
df

       casas  estrato  valor
0  la ximena        1    120
1      pamba        2    200
2     centro        1    235
3  la ximena        5    150
4     la paz        1    160
5    mirador        3    125
6      pamba        2     59
7     la paz        4    168
8     centro        3    352
9    mirador        2    456

In [62]:
df.estrato = df.estrato.astype(str)
df.dtypes

casas      object
estrato    object
valor       int64
dtype: object

In [64]:
x_num = df.select_dtypes(include = np.number).columns
x_num

Index(['valor'], dtype='object')

In [65]:
x_cat = df.select_dtypes(include = np.object).columns
x_cat

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DeprecationWarning: `np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  """Entry point for launching an IPython kernel.

Index(['casas', 'estrato'], dtype='object')

In [67]:
num_tras = Pipeline(steps=[
    ('scaler',MinMaxScaler(feature_range=(0,1)))
])

cat_tras = Pipeline(steps=[
    ('onehot',OneHotEncoder(handle_unknown='ignore'))
])

In [69]:
preprocesamiento = ColumnTransformer(
    transformers=[
        ('num',num_tras,x_num),
        ('cat',cat_tras,x_cat)
    ]
)
preprocesamiento

ColumnTransformer(transformers=[('num',
                                 Pipeline(steps=[('scaler', MinMaxScaler())]),
                                 Index(['valor'], dtype='object')),
                                ('cat',
                                 Pipeline(steps=[('onehot',
                                                  OneHotEncoder(handle_unknown='ignore'))]),
                                 Index(['casas', 'estrato'], dtype='object'))])

In [72]:
preprocesamiento.fit_transform(df).toarray()

array([[0.15365239, 0.        , 0.        , 1.        , 0.        ,
        0.        , 1.        , 0.        , 0.        , 0.        ,
        0.        ],
       [0.35516373, 0.        , 0.        , 0.        , 0.        ,
        1.        , 0.        , 1.        , 0.        , 0.        ,
        0.        ],
       [0.44332494, 1.        , 0.        , 0.        , 0.        ,
        0.        , 1.        , 0.        , 0.        , 0.        ,
        0.        ],
       [0.22921914, 0.        , 0.        , 1.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        1.        ],
       [0.25440806, 0.        , 1.        , 0.        , 0.        ,
        0.        , 1.        , 0.        , 0.        , 0.        ,
        0.        ],
       [0.16624685, 0.        , 0.        , 0.        , 1.        ,
        0.        , 0.        , 0.        , 1.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , 0.        , 0.        ,
        1.        , 0.        , 1.        , 0.        , 0.        ,
        0.        ],
       [0.27455919, 0.        , 1.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 1.        ,
        0.        ],
       [0.73803526, 1.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 1.        , 0.        ,
        0.        ],
       [1.        , 0.        , 0.        , 0.        , 1.        ,
        0.        , 0.        , 1.        , 0.        , 0.        ,
        0.        ]])